<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.woniuticket.order.dao.ScreeningMapper">
  <resultMap id="BaseResultMap" type="com.woniu.woniuticket.order.pojo.Screening">
    <id column="chip_id" jdbcType="INTEGER" property="chipId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    chip_id, start_time, end_time, file_id, cinema_id, hall_id, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from screening
    where chip_id = #{chipId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from screening
    where chip_id = #{chipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.woniuticket.order.pojo.Screening">
    insert into screening (chip_id, start_time, end_time, 
      file_id, cinema_id, hall_id, 
      price)
    values (#{chipId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{fileId,jdbcType=INTEGER}, #{cinemaId,jdbcType=INTEGER}, #{hallId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.woniuticket.order.pojo.Screening">
    insert into screening
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chipId != null">
        chip_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="cinemaId != null">
        cinema_id,
      </if>
      <if test="hallId != null">
        hall_id,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chipId != null">
        #{chipId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="cinemaId != null">
        #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="hallId != null">
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.woniuticket.order.pojo.Screening">
    update screening
    <set>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="cinemaId != null">
        cinema_id = #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="hallId != null">
        hall_id = #{hallId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where chip_id = #{chipId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.woniuticket.order.pojo.Screening">
    update screening
    set start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      file_id = #{fileId,jdbcType=INTEGER},
      cinema_id = #{cinemaId,jdbcType=INTEGER},
      hall_id = #{hallId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where chip_id = #{chipId,jdbcType=INTEGER}
  </update>
</mapper>